html {
/*  background: fuchsia;
*/}
.circle {
  background: #9e978e;
  /*display: inline-block;*/
  height: 100px;
  width: 200px;
}

.circle.high {
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
}

.circle.low {
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px
}

#about, #how-it-works, #order {
  padding-bottom: 5%;
  padding-top: 5%;
}


/* hero */
.hero {
  background: #ffcc99;
  overflow-y: hidden;
  padding-top: 10%;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 0, 0.5, 1);
}

.logo {
  width: 100%;
  margin-bottom: -10px;
}

.hero .row {
    position: relative;
}

.hero .circle.high {
  position: absolute;
  background: #ccd8fd;
  bottom: 0;
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
  width: 125px;
  height: 65px;
  left: 306px;
}

.section.hero.closed {
	max-height: 0;
  padding-top: 0;
}

/* nav */
.nav {
  overflow: hidden;
  background-color: white ;
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  padding-bottom: 20px;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 0, 0.5, 1);
}

div.nav {
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.21);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.21);
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.21);
}

.nav.closed {
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.nav li {
  display: inline-block;
}

.nav .circle{
  margin: 0 auto;
  width: 100px;
  height: 50px;
  top: 50%;
  left: 50%;
}
.nav a {
  height: 45%;
  cursor: pointer;
  position: relative;
  background: transparent;

}
a.about {
  max-width: 50%;
  float: left;
}
a.how-it-works{
  max-width: 49%;
  float: left;
}

a.contact {
  max-width: 100%;
  float: left;
}

/*about*/
#about {
  padding-top: 20%;
  background-image: -webkit-linear-gradient(left, #b2dcc6, #b2dcc6 50%, #333333 50%);
  background-image: linear-gradient(to right, #b2dcc6, #b2dcc6 50%, #333333 50%);
}

.row.high {
  text-align: left;
  padding-bottom: 5%
}

.row.low {
  text-align: right;
}

.row.low .six:first-of-type{
  float: right;
}
.clouds {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}

.rainbow {
  margin: 0 auto;
  max-width: 60%;
}

@media only screen and (max-width: 40em) {

  #about {
    background-image: -webkit-linear-gradient(bottom, #b2dcc6, #b2dcc6 49%, #333333 49%);
    background-image: linear-gradient(to bottom, #b2dcc6, #b2dcc6 49%, #333333 49%);
  }

}


/* how it works */
#how-it-works {
  background: white;
}

/* order */
.order {
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
background-size: 1800% 1800%;

-webkit-animation: rainbow 18s ease infinite;
-z-animation: rainbow 18s ease infinite;
-o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
}
